@import "responsive-mixin";

.l_blog {

    h1.title, h2.subtitle {
        text-align: center;
    }

    > div {
        // Set a max width and center content
        margin-left: auto;
        margin-right: auto;
        max-width: var(--article-width);
        padding: var(--content-padding);
    }

    ul, ol {
        > li {
            padding-bottom: 1rem;
        }
    }  

    > div {
        padding: 1rem;

        > .cards > .summary {
            margin-bottom: 1rem;
        }
    }
}

@include for-tablet-portrait-up {
    .l_blog {
        margin-top: 6rem;
    }
}