@import "responsive-mixin";

.blog_hero {
    width: 100%;
    max-height: 630px;

    > img {
        width: 100%;
    }
}

.l_blog_list {


    .summary {
        border: 1px solid var(--accents-3);
        padding: 2em;
    }

    ul, ol {
        > li {
            padding-bottom: 1rem;
        }
    }  

    > div {
        padding: 1rem;

        > .cards > .summary {
            margin-bottom: 1rem;
        }
    }
}

@include for-tablet-portrait-up {
    .l_blog_list {

        > div {
            padding: var(--content-padding);
            padding-top: 5rem;
            margin-left: auto;
            margin-right: auto;
            max-width: var(--content-width);

            > .cards {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row; 
                gap: 1rem;
    
                > .summary {
                    flex-basis: calc(50% - 0.5rem);

                    &.with-image {
                        padding: 0;
                        > div {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row; 
    
                            > img {
                                object-fit: none;
                                max-width: 40%;
                                flex-basis: 40%;
                            }

                            > div {
                                padding: 1rem;
                                flex-basis: 60%;
                            }
                        }
                    }
                }
            }
        }
    }
}