<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  {% if page.title %}
  <title>{{ page.title }} | {{ config.title }}</title>
  {% else %}
  <title>{{ config.title }}</title>
  {% endif %}
  <link rel="stylesheet" href="/index.css?h={{get_file_hash(path="public/index.css", sha_type=256)}}">
  <link rel="stylesheet" href="/syntax-theme.css?h={{get_file_hash(path="static/syntax-theme.css", sha_type=256)}}">
  <script async src="/index.js?h={{get_file_hash(path="static/index.js", sha_type=256)}}"></script>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  {% if config.extra.ga_analytics and config.base_url != "http://localhost:7400" %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.ga_analytics}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ config.extra.ga_analytics}}');
  </script>
  {% endif %}
</head>

{% if config.extra.authentication and config.extra.localhost %}
  {% if config.base_url == config.extra.localhost %}
    {% set sign_up_url = config.extra.authentication_development.sign_up %}
    {% set sign_in_url = config.extra.authentication_development.sign_in %}
  {% else %}
    {% set sign_up_url = config.extra.authentication.sign_up %}
    {% set sign_in_url = config.extra.authentication.sign_in %}
  {% endif %}
{% endif %}


<!-- https://www.goatcounter.com/ -->
{% if config.extra.goat_counter %}
<body class="l_marketing" data-goatcounter="{{ config.extra.goat_counter}}">
{% else %}
<body class="l_marketing">
{% endif %}
  <header>
    <div class="m_navbar {% block class %}{% endblock %}">
      <nav>
        <input id="toggle" type="checkbox"></input>
        <label class="hamburger" for="toggle">
          <div class="top_bun"></div>
          <div class="meat"></div>
          <div class="bottom_bun"></div>
        </label><a href="/"><span>{{ config.title }}</span></a>
        <ul>
          <li><a class="menu-item" href="/blog/">Blog</a></li>

          {% if config.extra.menu_items  %}
          {% for resource in config.extra.menu_items %}
          <li><a class="menu-item" href="{{ resource.url }}">{{ resource.name }}</a></li>
          {% endfor %}
          {% endif %}

          <li><a class="menu-item" href="{{ config.extra.first_doc_page | default(value='/docs') | safe }}">Documentation</a></li>
          
          
          {% set index_path = "docs/_index.md" %}
          {% set index = get_section(path=index_path) %}
          {% if index.pages %}
            {% for page in index.pages %}                           
                <li class="sub-menu-item"><a href="{{ page.path | safe }}">{{ page.title }}</a></li>
            {% endfor %}
          {% endif %}
          {% if index.subsections %}
              {% for s in index.subsections %}
              {% set subsection = get_section(path=s) %}
              {% if subsection.pages %}
              {% for page in subsection.pages %}                           
                  <li class="sub-menu-item"><a href="{{ page.path | safe }}">{{ page.title }}</a></li>
              {% endfor %}
              {% endif %}
              {% endfor %}
          {% endif %}

          <!-- {{ config.base_url}} -->
          {% if config.extra.authentication and config.extra.localhost %}
          <li><a class="btn-mktg" href="{{ sign_up_url }}">Sign Up</a></li>
          <li><a class="menu-item" href="{{ sign_in_url }}">Sign In</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
  <div id="main">
      {% block content %} {% endblock %}
  </div>
  <footer class="m_footer">
    <div class="container">
      <div class="top-of-footer">
        <div class="link-block">
          <h5>Resources</h5>
          <ul>
            {% if config.extra.resources_1  %}
            {% for resource in config.extra.resources_1 %}
            <li><a href="{{ resource.url }}">{{ resource.name }}</a></li>
            {% endfor %}
            {% endif %}
          </ul>
        </div>
        <div class="link-block">
          <h5>Resources</h5>
          <ul>
            {% if config.extra.resources_2  %}
            {% for resource in config.extra.resources_2 %}
            <li><a href="{{ resource.url }}">{{ resource.name }}</a></li>
            {% endfor %}
            {% endif %}
          </ul>
        </div>
        {% if config.extra.footer_cta %}
        <div class="sign-up">
          <h5>{{config.extra.footer_cta.title}}</h5>
          <p>{{config.extra.footer_cta.prompt}}</p>
          {% if config.extra.footer_cta.cta_url  %}
          <a class="border p-1" href="{{config.extra.footer_cta.cta_url}}">{{config.extra.footer_cta.cta_button}}</a>
          {% else %}
          <a class="border p-1" href="{{sign_up_url}}">{{config.extra.footer_cta.cta_button}}</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
      <hr />
      <div class="bottom-of-footer">
        {% if config.extra.copyright %}
        <p>{{config.extra.copyright}}</p>
        {% endif %}
        <ul class="social">
          {% if config.extra.twitter %}
          <li><a href="{{config.extra.twitter}}"><img width="24" alt="Twitter" src="/twitter.svg" /></a></li>
          {% endif %}
          {% if config.extra.github_repo %}
          <li><a href="{{config.extra.github_repo}}"><img width="24" alt="Github" src="/github.svg" /></a></li>
          {% endif %}
          {% if config.extra.linkedin %}
          <li><a href="{{config.extra.linkedin}}"><img width="24" alt="LinkedIn" src="/linkedin.svg" /></a></li>
          {% endif %}
        </ul>
        <ul class="terms">
          <li><a href="/pages/terms">Terms</a></li>
          <li><a href="/pages/privacy">Privacy</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>