{% extends "base.html" %}
{% block class %} blog {% endblock %}

{% block content %}
<section class="markdown-body blog-content">
  <div>
    <h1 class="title">
      {{ page.title }}
    </h1>
    {% if page.extra.subtitle %}
    <h2 class="subtitle">{{ page.extra.subtitle }}</h2>
    {% endif %}

    {% if page.extra.main_image %}
    {% set image = resize_image(path=page.extra.main_image, width=768, height=487, op="fill") %}
    <img width="768" height="487" src="{{ image.url }}" />
    {% endif %}

    <article class="prose">
      {{ page.content | safe }}
    </article>
  </div>
</section>

{% if config.extra.footer_cta %}
<section class="color-bg-subtle d-flex flex-content-center flex-column mt-4 pt-8 pb-8 text-center">
  <h3 class="mb-3">{{config.extra.every_page_cta.title}}</h3>
  {% if config.extra.every_page_cta.cta_url %}
  <p><a class="btn-mktg"
      href="{{config.extra.every_page_cta.cta_url}}">{{config.extra.every_page_cta.cta_button}}</a></p>
  {% else %}
  <p><a class="btn-mktg" href="{{sign_up_url}}">{{config.extra.every_page_cta.cta_button}}</a></p>
  {% endif %}
</section>
{% endif %}
{% endblock content %}