{% extends "base.html" %}
{% block class %} blog {% endblock %}

{% block content %}
<section class="content d-flex flex-content-center flex-column mt-4 mt-md-8 text-center">
  <h1 class="h3-mktg mb-4">{{ config.extra.blog_title | default(value='The Blog') }}</h1>
  <h2 class="h6-mktg color-fg-muted mb-4">{{ config.extra.blog_subtitle | default(value='Ideas, Updates and Inspiration') }}</h2>
</section>
<section class="l_blog_list">
  <div>
    <div class="cards">
      {% for page in section.pages %}
      {% if page.extra.listing_image %}
      <div class="summary with-image">
        <div>
          {% set image = resize_image(path=page.extra.listing_image, width=198, height=198, op="fill") %}
          <img src="{{ image.url }}" />
          <div>
            <h3>{{ page.title }}</h3>
            <p class="subtitle"><strong>{{ page.date }}</strong></p>
            <p><a href="{{ page.path | safe }}">Read More...</a></p>
          </div>
        </div>
      </div>
      {% else %}
      <div class="summary">
        <h3>{{ page.title }}</h3>
        <p class="subtitle"><strong>{{ page.date }}</strong></p>
        <p><a href="{{ page.path | safe }}">Read More...</a></p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% if config.extra.footer_cta %}
<section class="color-bg-subtle d-flex flex-content-center flex-column mt-4 pt-8 pb-8 text-center">
  <h3 class="mb-3">{{config.extra.every_page_cta.title}}</h3>
  {% if config.extra.every_page_cta.cta_url %}
  <p><a class="btn-mktg"
      href="{{config.extra.every_page_cta.cta_url}}">{{config.extra.every_page_cta.cta_button}}</a></p>
  {% else %}
  <p><a class="btn-mktg" href="{{sign_up_url}}">{{config.extra.every_page_cta.cta_button}}</a></p>
  {% endif %}
</section>
{% endif %}
{% endblock content %}