{% extends "base.html" %}
{% block class %} documentation {% endblock %}

{% block content %}
{% set current_section = "docs" %}
<section class="l_documentation prose">
  <div>
    <aside>
    
	{% set index_path = current_section ~ "/_index.md" | trim_start_matches(pat="/") %}
	{% set index = get_section(path=index_path) %}
	{% if index.pages %}
		<h3>{{ index.title }}</h3>
		<ul >
		{% for page in index.pages %}                           
				<li><a href="{{ page.path | safe }}">{{ page.title }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}
	{% if index.subsections %}
			{% for s in index.subsections %}
			{% set subsection = get_section(path=s) %}
			{% if subsection.pages %}
			<h3>{{ subsection.title }}</h3>
			<ul >
			{% for page in subsection.pages %}                           
					<li><a href="{{ page.path | safe }}">{{ page.title }}</a></li>
			{% endfor %}
			</ul>
			{% endif %}
			{% endfor %}
	{% endif %}
	</aside>
    
    <main>
      <div class="markdown-body">
        <h1 class="title">
          {{ page.title }}
        </h1>
        {{ page.content | safe }}
      </div>
    </main>

	<aside class="toc">

		<h3>On this page</h3>
		<ul>
			{% for h1 in page.toc %}
			<li><a href="{{ h1.permalink | safe}}">{{ h1.title }}</a></li>
			{% if h1.children %}
					<ul>
							{% for h2 in h1.children %}
							<li><a href="{{ h2.permalink | safe }}">{{ h2.title }}</a></li>
							{% endfor %}
					</ul>
			{% endif %}
			{% endfor %}
		</ul>
	</aside>
  </div>
</section>
{% endblock content %}